#user-restaurant-edit{"data-role" => "page"}
  %div{"data-role" => "header"}
    %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "b", :href => "#group-list"} Cancel
    %h1
  %div{"data-role" => "content", "class" => "details-content"}
    .my-orders-content
      %h2 My Orders
      %ul.listview.my-order-list{"data-inset" => "true", "data-role" => "listview"}
      .edit-my-orders-content
        %h2 Order menus
        %ul.listview.edit-restaurant-details{"data-inset" => "true", "data-role" => "listview"}
        %a.confirm-foods{"data-role" => "button", :href => "javascript:void(0);"} Confirm
    .my-group-content
      %h2 This is edit my group
  .footer-navbar{"data-mini" => "true", "data-position" => "fixed", "data-role" => "navbar"}
    %ul
      %li
        %a.my-status{"data-icon" => "edit", "data-role" => "tab", :href => "javascript:void(0);"} My Orders
      %li
        %a.group-status{"data-icon" => "grid", "data-role" => "tab", :href => "javascript:void(0);"} Group Orders