!!!
%html
  %head
    %title My Page
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no", :name => "viewport"}
    = stylesheet_link_tag "themes/default/all", :media => "all"
  %body
    .loading
    #create-group{"data-role" => "page"}
      %div{"data-role" => "header"}
        %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "c", :href => "javascript:void(0);"} 返回
        %h1 创建饭团
        %a.ui-btn-right.create-group-btn{"data-theme" => "c", :href => "javascript:void(0);"} 创建
      %div{"data-role" => "content"}
        %h2 饭团名 :
        %input#group-name{:type => "text",:required => true}
        %div.radio-content-list
        %a.more-restaurants{"data-role" => "button", :href => "javascript:void(0);"} 选择其他馆子
        %h2 截止时间 :
        %ul.listview{"data-role" => "listview", "data-inset"=>"true"}
          %li
            %span#show-Time
        %div#timePicker
        %a.create-group-btn{"data-role" => "button", :href => "javascript:void(0);"} 创建
  = javascript_include_tag "compress/group-create-all"