#create-group{"data-role" => "page"}
  %div{"data-role" => "header"}
    %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "c", :href => "#group-list"} Back
    %h1 Create My Group
  %div{"data-role" => "content"}
    %h2 Group Name:
    %input{:type => "text"}
    %fieldset{"data-role" => "controlgroup"}
      %legend Restaurant List:
      %input#radio-choice-v-2a{:checked => "checked", :name => "radio-choice-v-2", :type => "radio", :value => "1"}/
      %label{:for => "radio-choice-v-2a"} 九头鹰
      %input#radio-choice-v-2b{:name => "radio-choice-v-2", :type => "radio", :value => "2"}/
      %label{:for => "radio-choice-v-2b"} 来福士
      %input#radio-choice-v-2c{:name => "radio-choice-v-2", :type => "radio", :value => "3"}/
      %label{:for => "radio-choice-v-2c"} 桂林米粉
    %h2
      Cut-Off Date :
      %span#show-Time
    #timePicker
    %a.create-group-btn{"data-role" => "button", :href => "javascript:void(0);"} 我去点餐咯