#create-content{"data-role" => "page"}
  %div{"data-role" => "header"}
    %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "b", :href => "#group-list"} Back
    %h1 Restaurant List
  %div{"data-role" => "content"}

    %fieldset{"data-role" => "controlgroup"}
      %legend Restaurant List:
      %input#radio-choice-v-2a{:checked => "checked", :name => "radio-choice-v-2", :type => "radio", :value => "on"}/
      %label{:for => "radio-choice-v-2a"} 来福士超市
      %input#radio-choice-v-2b{:name => "radio-choice-v-2", :type => "radio", :value => "off"}/
      %label{:for => "radio-choice-v-2b"} 面馆
      %input#radio-choice-v-2c{:name => "radio-choice-v-2", :type => "radio", :value => "other"}/
      %label{:for => "radio-choice-v-2c"} 九头鹰

    %h2 PassWord:
    %input{:type => "text"}
    %h2
      Cut-Off Date :
      %span#show-Time
    #timePicker
    %a.create-group-btn{"data-role" => "button", :href => "#user-restaurant-list"} Create This Group