!!!
%html
  %head
    %title My Page
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no", :name => "viewport"}
    = stylesheet_link_tag "themes/default/all", :media => "all"
  %body
    .loading
    #group-show{"data-role" => "page" ,"data-id" => "#{@group.id}" }
      %div{"data-role" => "header"}
        %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "c", :href => "#group-list"} 返回
        %h1.group-name
        %a.ui-btn-right.buy-foods{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-id" => "#{@group.id}", "data-theme" => "c", :href => "javascript:void(0);"} 去点餐
      %div.info-details{"data-role" => "content"}
        %div.details-content.group-details
          %h2 本团介绍
          %ul.listview.current-group-details{"data-role" => "listview", "data-inset"=>"true"}

          %h2 餐馆简介
          %ul.listview.restaurant-details{"data-role" => "listview", "data-inset"=>"true"}

        %div.details-content.my-orders-details
          %h2 我的订餐
          %ul.listview.order-status{"data-role" => "listview", "data-inset"=>"true"}
            -#%li
            -#  %h2 王锐
            -#  %table
            -#    %tr
            -#      %td.dish-name 蒙面
            -#      %td.dish-price 12$
            -#      %td.dish-count
            -#        %div.dish-count
            -#          %span.ui-li-count 1
            -#    %tr
            -#      %td.dish-name 总计
            -#      %td.dish-price 24$
            -#      %td

        %div.details-content.all-status
          %h2 统计信息
          %ul.listview.order-status{"data-role" => "listview", "data-inset"=>"true"}
            -#%li
            -#  %table
            -#    %tr
            -#      %td.dish-name 小炒肉
            -#      %td.dish-price 12$
            -#      %td.dish-count
            -#        %div.dish-count
            -#          %span.ui-li-count 4
            -#    %tr
            -#      %td.dish-name 总计
            -#      %td.dish-price 245$
            -#      %td

        %div.details-content.members-details
          %h2 团员订餐信息
          %ul.listview.order-status{"data-role" => "listview", "data-inset"=>"true"}
            -#%li
            -#  %h2 明星
            -#  %table
            -#    %tr
            -#      %td.dish-name 小炒肉
            -#      %td.dish-price 12$
            -#      %td.dish-count
            -#        %div.dish-count
            -#          %span.ui-li-count 1
            -#    %tr
            -#      %td.dish-name 总计
            -#      %td.dish-price 12$
            -#      %td
            -#%li

        -#%a.buy-foods{ :href => "javascript:void(0);" ,"data-role" => "button"} 买饭去

      %div.fixed-footer{"data-position" => "fixed", "data-role" => "footer"}
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a.restaurant-info-btn{:href => "","data-icon"=>"star","data-iconpos"=>"top"} 本团信息
            %li
              %a.all-info-btn{:href => "","data-icon"=>"star","data-iconpos"=>"top"} 统计信息
            %li
              %a.my-orders-btn{:href => "","data-icon"=>"star","data-iconpos"=>"top"} 我的订餐
            %li
              %a.members-orders-btn{:href => "","data-icon"=>"star","data-iconpos"=>"top"} 团员信息


  = javascript_include_tag "compress/group-show-all"