#group-show{"data-role" => "page" ,"data-id" => "#{@group.id}" }
  %div{"data-role" => "header"}
    %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "b", :href => "#group-list"} Cancel
    %h1= @group.name
  %div{"data-role" => "content", "class" => "group-detail"}
    %a.buy-foods{"data-role" => "button", "data-id" => "#{@group.id}", :href => "javascript:void(0);"} 买饭去