#group-show{"data-role" => "page" ,"data-id" => "#{@group.id}" }
  %div{"data-role" => "header"}
    %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "b", :href => "#group-list"} Cancel
    %h1= @group.name
  %div{"data-role" => "content", "class" => "group-detail"}

    %h2 餐馆简介
    %ul.listview{"data-role" => "listview", "data-inset" => "true"}
      %li
        %span.subject 饭店名称
        %span 九头鹰
      %li
        %span.subject 订餐电话
        %span 123213123123
      %li
        %span.subject 外卖时间
        %span 10:30-21:00
      %li
        %span.subject 起送金额
        %span 送餐费1元

    %h2 此团买饭信息
    %ul.listview.groups-status{"data-role" => "listview", "data-inset" => "true"}
      %li
        %h2 王锐
        %table
          %tr
            %td.dish-name 小炒肉
            %td.dish-price 12$
            %td.dish-count
              %div.dish-count
                %span.ui-li-count 1
          %tr
            %td.dish-name 蒙面
            %td.dish-price 12$
            %td.dish-count
              %div.dish-count
                %span.ui-li-count 1
          %tr
            %td.dish-name 总计
            %td.dish-price 24$
            %td
      %li
        %h2 明星
        %table
          %tr
            %td.dish-name 小炒肉
            %td.dish-price 12$
            %td.dish-count
              %div.dish-count
                %span.ui-li-count 1
          %tr
            %td.dish-name 总计
            %td.dish-price 12$
            %td
      %li
        %h2 姚新
        %table
          %tr
            %td.dish-name 小炒肉
            %td.dish-price 12$
            %td.dish-count
              %div.dish-count
                %span.ui-li-count 1
          %tr
            %td.dish-name 总计
            %td.dish-price 12$
            %td

    %a.buy-foods{"data-role" => "button", "data-id" => "#{@group.id}", :href => "javascript:void(0);"} 买饭去
