:plain
{
    "myGroups": [
        - @myGroups.each do |group|
            :plain
            {
                :plain
                "name": "#{group.name}",
                "owner": "#{group.owner}",
                "id": "#{group.id}",
                "restaurant" : {
                    "name" : "#{group.restaurant.name}"
                }
            }
    ],
    "groupList": [
        {
            "name" : "辣团",
            "owner": "晶晶",
            "id" : "1",
            "restaurant" : {
                "name": "九头鹰"
            }
        },
        {
            "name" : "疯团",
            "owner": "明星",
            "id" : "2",
            "restaurant" : {
                "name": "来福士"
            }
        },
        {
            "name" : "奇异团",
            "owner": "青山",
            "id" : "3",
            "restaurant" : {
                "name": "桂林米粉"
            }
        }
    ]
}




