
.ui-btn-inner{font-size: 16px;}
.ui-msg{width: 100%; z-index: 100000; padding: 10px;position: fixed; top: -500px; font-size: 14px;box-sizing: border-box; text-align: center;}
.ui-msg.success{ background: #8ed0a2;}
.ui-msg.error{ background: #f8394b; color: #fff;}

#group-list{
  .ui-link-inherit{font-size:14px;}
  .group-name{display: inline-block; width:60px;}
  .restaurant-name{display: inline-block; width:80px;}
  }
#group-show{
  h2.ui-li-heading{margin:0px;padding: 7px 0 4px; overflow: auto;}
  .ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner{font-size: 14px;}
  .info-details{
    .subject{font-weight: normal; display: inline-block; width: 80px; }
    table{width: 100%;
      tr{ border-bottom: 1px #ccc dashed;}
      tr:last-child{ border-bottom: 0px;}
      td.dish-name{width: 80px; padding:5px 0; font-weight: normal}
      td.dish-price{width: 40px;}
      td.dish-count{float:right;}
    }
    .order-status li{padding:5px 15px;
      .dish-count{
        position: relative;
        .ui-li-count{
          margin-top: 0px;
          top: 3px;
          right: 5px;
        }
      }
    }
    .order-status li.no-orders{padding:12px 15px;}
    .restaurant-details,.my-orders-details,.all-status,.members-details{display: none;}
  }
}
#user-order-dishes{
  h2{margin-left:4px; font-size:14px;}
  .restaurant-content{float:left; margin:-6px 5px 0 0 }

  .edit-restaurant-details{margin-top: 20px;}
  .edit-restaurant-details li{padding: 20px 15px;}
  .edit-restaurant-details li.ui-li-divider{padding: 8px 15px 8px 8px; font-size:bold;}
  .edit-restaurant-details .ui-input-text{float:right; margin-top: -13px; margin-right: 10px; height: 25px;}
  .edit-restaurant-details .ui-input-text .number-input{float:right; margin:-5px 0px 0px 0; width:20px; }
  .edit-restaurant-details .ui-li-count{ position:static; float:left; margin:14px 0 0 0; }
  .edit-restaurant-details .ui-btn-inner{min-width: 0px; padding-left: 18px;}

  .footer-navbar{overflow: hidden;}
  .footer-navbar li{padding-top: 0; padding-bottom: 0;}
  .footer-navbar .ui-btn-inner{padding-top:20px;}
  .footer-navbar .ui-icon{top:4px;}
  .footer-navbar .ui-btn-text{top:6px;}

  .group-button-content{float:right; width:auto; margin-right: -5px; margin-top: -14px;}
  .dish-name,.dishes-total{display:inline-block;width:80px;}
  .confirm-foods{margin-top:30px;}
  .listview li{ padding-right: 15px !important; font-size: 12px;}

  .my-orders-content,.my-group-content{display: none;}
  .ui-listview-filter-inset{margin-top: 0px;}

}

#recharge-details{
  .ui-controlgroup-controls{display: block; width:auto;}
  .ui-controlgroup-controls .ui-btn{ width:50%; box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box;    }
  .ui-controlgroup-controls .input-label.ui-btn{width:100%;}
}

#user-restaurant-details li,#user-order-dishes li,#confirm-success li{padding-top:0.7em;padding-bottom:0.7em; font-size: 14px;}
.dwi {display: block;}
#scroller{margin-top:20px;}

#create-group{
  h2{margin:10px 0;}
  legend{font-size: 12px;}
  .create-group-btn{margin-top:20px;}
  .create-group-btn.ui-btn-right{margin-top:0px;}
  .details{position:relative; display: block;}
  .details .more{position:absolute; right: 0px; top: 0px; border: 1px #000 soild;}
}
#bill-details{
  .ui-controlgroup-controls{width:auto; display: block;}
}
