#confirm-success{"data-role" => "page"}
  %div{"data-role" => "header"}
    %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "b", :href => "#group-list"} Back
    %h1 Success
  %div{"data-role" => "content"}
    %h1 Congratulations
    %p
      Hi XXX, your submit is successful. When the food is ready, This app will let your know.
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li Yours
      %li
        炒面 : 12￥
        %span.ui-li-count 2
      %li
        炒菜 : 12￥
        %span.ui-li-count 2
      %li Total : 48￥