<div data-role="page" id="bill-details">
    <div data-role="header">
        <a href="#group-list" class="ui-btn-left"  data-icon="arrow-l"  data-theme="b">Back</a>
        <h1>Paybill list</h1>
    </div><!-- /header -->

    <div data-role="content">
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" class="checkbox-list">
                <input type="checkbox" name="checkbox-2" id="checkbox-1" class="custom" />
                <label for="checkbox-1" class="input-label">小刀 2013-1-12 烩面 12￥</label>
                <input type="checkbox" name="checkbox-2" id="checkbox-2" class="custom" />
                <label for="checkbox-2" class="input-label">小刀 2013-1-12 烩面 14￥</label>
                <input type="checkbox" name="checkbox-2" id="checkbox-3" class="custom" />
                <label for="checkbox-3" class="input-label">小刀 2013-1-12 烩面 14￥</label>
                <input type="checkbox" name="checkbox-2" id="checkbox-4" class="custom" />
                <label for="checkbox-4" class="input-label">小刀 2013-1-12 烩面烩面烩面 14￥</label>
            </fieldset>
        </div>
        
        <a href="javascript:void(0);" class="select-all-bills" data-role="button" data-icon="grid">Select All</a>

        <div data-role="controlgroup" data-type="horizontal">
            <a href="javascript:void(0);" data-role="button" data-icon="alert">Get My Money Back</a>
            <a href="javascript:void(0);" data-role="button" data-icon="check">Paid</a>
        </div>

    </div>
</div>