<div data-role="page" id="create-content">
    <div data-role="header">
        <a href="#group-list" class="ui-btn-left"  data-icon="arrow-l"  data-theme="b">Back</a>
        <h1>Restaurant List</h1>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            <li><a href="#user-restaurant-details">九头鹰</a></li>
            <li><a href="#user-restaurant-details">来福士超市</a></li>
            <li><a href="#user-restaurant-details">面馆</a></li>
        </ul>
        <h2>PassWord:</h2>
        <input type="text" >
        <h2>Cut-Off Date : <span id="show-Time"></span></h2>
        <div id="timePicker"></div>
        <a class="create-group-btn" href="#user-restaurant-list" data-role="button" >Create This Group</a>
    </div>
</div>