<div data-role="page" id="user-restaurant-edit">

    <div data-role="header">
        <a href="#group-list" data-icon="arrow-l" class="ui-btn-left" data-theme="b">Cancel</a>
        <h1>九头鹰</h1>
    </div><!-- /header -->

    <div data-role="content">

        <div class="my-orders-content">
            <h2>My Orders</h2>
            <ul class="listview my-order-list" data-role="listview" data-inset="true">
                <!--<li><span class="dish-name">炒面</span><span class="dish=price">12</span>￥<span class="ui-li-count">3</span></li>
                <li><span class="dishes-total">Total:</span><span>36</span>￥</li> -->
            </ul>
        </div>
        <div class="edit-my-orders-content">
            <h2>Order menus</h2>
            <ul class="listview edit-restaurant-details" data-role="listview" data-inset="true">
                <!-- <li class="cf">
                    <span class="restaurant-content">炒面 : 12￥</span>
                    <span class="ui-li-count">3</span>
                    <div class="group-button-content" data-role="controlgroup" data-type="horizontal">
                        <a href="" class="add" data-mini="true" data-role="button" data-icon="arrow-u">&nbsp;</a>
                        <a href="" class="reduce" data-mini="true" data-role="button" data-icon="arrow-d">&nbsp;</a>
                    </div>
                    <input type="number" data-mini="true" class="number-input" value="0"  />
                </li>-->
            </ul>
            <a href="javascript:void(0);" class="confirm-foods" data-role="button">Confirm</a>
        </div>

        <div class="my-Group-content">
            <h2>This is edit my group</h2>
        </div>

    </div>
    <div data-role="footer"  data-position="fixed"  class="footer-navbar"> 
        <!-- <div data-mini="true" data-role="navbar">
            <ul>
                <li><a href="#" class="my-orders" data-icon="star" data-transition="slideup">My Orders</a></li>
                <li><a href="#" class="group-orders" data-icon="grid" data-transition="slideup">Group Orders</a></li>
                <li><a href="#" class="edit-my-orders" data-icon="edit" data-transition="slideup">Edit</a></li>
            </ul>
        </div> -->
    </div>
</div>