<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (env == "development") { %>
      <link rel='stylesheet' href='/css/themes/default/common.css' />
      <link rel="stylesheet" href="/css/themes/default/jquery.mobile-1.2.0.css" />
      <link rel="stylesheet" href="/css/themes/default/mobiscroll.datetime-2.4.1.min.css" />
      <link rel='stylesheet' href='/css/themes/default/app.css' />
    <% }else{ %>
      <link rel='stylesheet' href='/css/all.css' />  
    <% } %>
</head>
<body>
<div data-role="page" id="group-list">
    <div data-role="header">
        <h1>Group List</h1>
        <a href="javascript:void(0);" class="my-bills-btn ui-btn-right" data-icon="arrow-r" data-iconpos="right" data-theme="b">My Bills</a>
    </div><!-- /header -->

    <div data-role="content">
        <a href="#user-create-content" class="create-group" data-role="button">I want to create my group.</a>
        <h2>My Orders</h2>
        <ul data-role="listview" data-inset="true" class="my-orders-ul"></ul>
        <h2>Available Groups</h2>
        <ul data-role="listview" data-inset="true" class="group-list-ul"></ul>
    </div>
</div>
</body>
<% if (env == "development") { %>
    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/js/jquery.mobile-1.2.0.js"></script>
    <script src="/js/date.js"></script>
    <script src="/js/mobiscroll.datetime-2.4.1.min.js"></script>
    <script src="/js/utility.js"></script>
    <script src="/js/app-logic.js"></script>
    <%- scripts %>
<% }else{ %>
    <script type="text/javascript" src="/js/<%= compressJs %>"></script>
<% } %>
</html>