<div data-role="page" id="my-bills">
    <div data-role="header">
        <a href="#group-list" data-icon="arrow-l"  class="ui-btn-left" data-theme="b">Back</a>
        <h1>Mybills list</h1>
    </div><!-- /header -->

    <div data-role="content">
        <ul data-role="listview" data-inset="true" class="my-bills-list">
            <li><a href="javascript:void(0);">九头鹰 2013-1-12  34$</a></li>
            <li><a href="javascript:void(0);">来福士超市 2013-1-23  34$</a></li>
            <li><a href="javascript:void(0);">面馆 2013-1-28  34$</a></li>
        </ul>
    </div>
</div>