<div data-role="page" id="confirm-success">

    <div data-role="header">
        <a href="#user-restaurant-list" data-icon="arrow-l" class="ui-btn-left" data-theme="b">Back</a>
        <h1>Success</h1>
    </div>

    <div data-role="content">
        <h1>Congratulations</h1>
        <p>
            Hi XXX, your submit is successful. When the food is ready, This app will let your know.
        </p>
        <ul data-role="listview" data-inset="true">
            <li>Yours</li>
            <li>炒面 : 12￥<span class="ui-li-count">1</span></li>
            <li>炒菜 : 12￥<span class="ui-li-count">1</span></li>
            <li>Total : 24￥</li>
        </ul>
    </div>
</div>